<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About US</title>
</head>
<body>
     <main>
        <%-include("Navbar.ejs")%>
        

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>About Us </h2>
                </div>
            </div>
            <form action="/admin/update_about" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12 mt-2">
                        <label class="label">About US</label>
                        <textarea class="form-control" name="about_us"><%-about_info.about_us%></textarea>
                    </div>
    
                    <div class="col-md-10 mt-2">
                        <label class="label">Select Image</label>
                        <input type="file" class="form-control" name="about_image"/>
                    </div>

                    <div class="col-md-2 mt-2">
                        <img src="/uploads/<%-about_info.about_image%>" width="100%" height="70px"/>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 mt-2">
                        <label class="label">Mission</label>
                        <textarea class="form-control" name="mission"><%-about_info.mission%></textarea>
                    </div>
    
                    <div class="col-md-10 mt-2">
                        <label class="label">Select Image</label>
                        <input type="file" class="form-control" name="mission_image"/>
                    </div>
    
                    <div class="col-md-2 mt-2">
                        <img src="/uploads/<%-about_info.mission_image%>" width="100%" height="70px"/>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 mt-2">
                        <label class="label">Vission</label>
                        <textarea class="form-control" name="vission"><%-about_info.vission%></textarea>
                    </div>
    
                    <div class="col-md-10 mt-2">
                        <label class="label">Select Image</label>
                        <input type="file" class="form-control" name="vission_image"/>
                    </div>
    
                    <div class="col-md-2 mt-2">
                        <img src="/uploads/<%-about_info.vission_image%>" width="100%" height="70px"/>
                    </div>
    
                    <div class="col-md-12 text-center mt-4">
                       <button class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>


            
        </div>

        <%-include("Footer.ejs")%>
     </main>
</body>
</html>