<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brand</title>
</head>
<body>
     <main>
        <%-include("Navbar.ejs")%>
        

        <div class="container">
            <form action="/admin/add_brand" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Add Brand Form</h2>
                    </div>
                    <div class="col-md-6 mt-3">
                        <label>Enter Brand Name</label>
                        <input type="text" class="form-control" name="brand_name"/>
                    </div>
                    <div class="col-md-6 mt-3">
                        <label>Select Brand Image</label>
                        <input type="file" class="form-control" name="brand_image"/>
                    </div>

                    <div class="col-md-12 mt-3 text-center">
                        <button class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <h2>Slider List</h2>
                </div>
                <div class="col-md-12">
                    <table class="table table-striped">
                        <tr>
                            <th>Sr No</th>
                            <th>Brand Name</th>
                            <th>Brand Image</th>
                            <th>Action</th>
                        </tr>


                        <% brand_info.map((row, i)=>{ %>
                            <tr>
                                <td><%-i+1%></td>
                                <td><%-row.brand_name%></td>
                                <td><img src="/uploads/<%-row.brand_image%>" width="100px"/> </td>
                                <td style="white-space: nowrap;">
                                    <a href="/admin/edit_brand/<%-row.brand_id%>">
                                        <button class="btn btn-sm btn-success"> <i class="fa fa-pencil"></i> </button>
                                    </a>
                                    <a href="/admin/delete_brand/<%-row.brand_id %>" onclick="return confirm('Are You Sure....?')">
                                        <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button>
                                    </a>
                                </td>  
                            </tr>
                        <% }) %>
                       
                    </table>
                </div>
            </div>
        </div>


        <%-include("Footer.ejs")%>
     </main>
</body>
</html>