<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider</title>
</head>
<body>
     <main>
        <%-include("Navbar.ejs")%>
        

        <div class="container">
            <form action="/admin/update_slider" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Edit Slider Form</h2>
                    </div>
                    <div class="col-md-6 mt-3">
                        <label>Title</label>
                        <input type="hidden" class="form-control" name="slider_id" value="<%-slider_info.slider_id%>"/>
                        <input type="text" class="form-control" name="slider_title" value="<%-slider_info.slider_title%>"/>
                    </div>
                    <div class="col-md-5 mt-3">
                        <label>Select Image</label>
                        <input type="file" class="form-control" name="slider_image"/>
                    </div>
                    <div class="col-md-1 mt-4">
                        <img src="/uploads/<%-slider_info.slider_image%>" width="70px" height="70px"/>
                    </div>

                    <div class="col-md-12 mt-3">
                        <label>Description</label>
                        <textarea class="form-control" name="slider_desc"><%-slider_info.slider_desc%></textarea>
                    </div>

                    <div class="col-md-12 mt-3 text-center">
                        <button class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>

       
        <%-include("Footer.ejs")%>
     </main>
</body>
</html>