<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <main>
        <header>
            <%-include("Navbar.ejs")%>
        </header>

        <section style="margin-top: 50px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/uploads/<%-about_info.about_image%>" class="w-100 h-100"/>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center align-items-center" >
                        <div class="">
                            <h1>About Us</h1>
                            <p><%-about_info.about_us%></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-white mb-5">
            <div class="container">
              <h1 class="text-center" data-aos="fade-down">Our Mission & Vision</h1>
                <div class="row mt-5">
                  
                  <div class="col-md-6 d-flex justify-content-center align-items-center" >
                      <div class="">
                          <h1>Mission</h1>
                           <p><%-about_info.mission%></p>
                      </div>
                  </div>
                  <div class="col-md-6">
                    <img src="/uploads/<%-about_info.mission_image%>" class="w-100 h-100"/>
                </div>
                </div>
      
                <div class="row mt-5">
                  <div class="col-md-6">
                    <img src="/uploads/<%-about_info.vission_image%>" class="w-100 h-100"/>
                </div>
                <div class="col-md-6 d-flex justify-content-center align-items-center" >
                    <div class="">
                        <h1>Vission</h1>
                        <p><%-about_info.vission%></p>
                    </div>
                </div>
                </div>
                
            </div>
        </section>

        <footer>
          <%-include("Footer.ejs")%>

        </footer>
    </main>
</body>
</html>