<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <main>
        <header>
            <%-include("Navbar.ejs")%>
        </header>

        <section style="margin-top: 70px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h3>All Products</h3>
                    </div>      
                </div>
                
                <div class="row mt-3 mb-5">

                    <% product_info.map((row, i)=>{ %>
                        <div class="col-md-3 mt-4">
                            <a href="/product_details/<%-row.product_id%>">
                                <div class="card border-0">
                                    <img src="/uploads/<%-row.product_image1%>" style="height: 200px;"/>
                                </div>
                                <div class="card-body mt-2 ms-5">
                                    <h6 class="card-title text-truncate mb-1"><%-row.product_name%></h6>
                                    <h6 class="mb-0">₹ <%-row.product_price%></h6>
                                    <h6><%-row.product_id%></h6>
                                </div>
                            </a>
                        </div>
                    <% }) %>

                </div>
            </div>
        </section>

        <footer>
            <%-include("Footer.ejs")%>
        </footer>
    </main>
</body>
</html>